/*imports*/
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #9ed6c7;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%239ED6C7'/%3E%3Cstop offset='1' stop-color='%2380CBC4'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}
body .main {
  padding-top: 4.5rem;
  overflow: auto;
}
body div {
  display: inline-block;
}
body .textos {
  font-weight: 100;
  word-spacing: 5px;
  letter-spacing: 1px;
}

.menuNav {
  width: 100%;
  height: 4.5rem;
  background-color: #80cbc4;
  font-size: 20px;
  letter-spacing: 1px;
  z-index: 1;
  position: fixed;
}
.menuNav .img--size {
  width: 200px;
  height: 50px;
}
.menuNav .nav-item:hover {
  transition: 1.3s;
  background-color: #a6a09c;
  border-radius: 10px;
}
.menuNav .navbar__separacion {
  justify-content: flex-end;
}

.collapse {
  width: 100%;
}

.navbar-collapse {
  background-color: #80cbc4;
  width: 100%;
}

.videoIndex {
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  overflow: auto;
}
.container .titulosProductos {
  margin: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: italic;
  justify-content: center;
}
.container .fotosProductos {
  display: block;
  width: 92%;
  max-height: 15rem;
  max-width: 20rem;
  margin: 0.7rem;
  transition: all 1s;
}
.container .fotosProductos:hover {
  transform: scale(1.1);
}
.container .card {
  margin-bottom: 2rem;
}
.container .col {
  display: flex;
  justify-content: space-between;
}

.main__decotextil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__decotextil .container__decotextil {
  margin-top: 3rem;
  width: 90%;
}
.main__decotextil .container__decotextil .card--custom {
  display: flex;
  background-color: #a6a09c;
  height: 30rem;
  align-content: center;
}
.main__decotextil .container__decotextil .card--custom .row .col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main__decotextil .container__decotextil .card--custom .row .col-5 {
  display: flex;
  justify-content: center;
}
.main__decotextil .container__decotextil .card--custom .row .col-5 .card__img {
  width: 23.6rem;
}
.main__decotextil .container__decotextil .card--custom2 {
  display: flex;
  flex-direction: row-reverse;
  background-color: #a6a09c;
  height: 30rem;
}
.main__decotextil .container__decotextil .card--custom2 .row {
  width: 100%;
}
.main__decotextil .container__decotextil .card--custom2 .row .col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  order: 1;
}
.main__decotextil .container__decotextil .card--custom2 .row .col-5 {
  display: flex;
  justify-content: center;
  order: 2;
}
.main__decotextil .container__decotextil .card--custom2 .row .col-5 .card__img {
  width: 23.6rem;
}

.main__productos .container__productos {
  width: 100%;
}
.main__productos .container__productos .productos__titulos {
  height: 5rem;
  color: #a6a09c;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #353131;
}
.main__productos .container__productos .productos__cards {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.main__productos .container__productos .productos__cards .row {
  width: 100%;
}
.main__productos .container__productos .productos__cards .row .productos__col {
  margin: 2rem 0;
  display: flex;
  justify-content: space-around;
}
.main__productos .container__productos .productos__cards .row .productos__col .productos__img {
  width: 90%;
  max-height: 15rem;
  max-width: 20rem;
  margin: 1rem;
  transition: all 1s;
}
.main__productos .container__productos .productos__cards .row .productos__col .productos__img:hover {
  transform: scale(1.1);
}

.main__form .container__form {
  margin-top: 8rem;
  margin-bottom: 7.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__form .container__form .titulo__form {
  margin-bottom: 5rem;
}
.main__form .container__form .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50rem;
  height: 500px;
  background-image: linear-gradient(#887a70, #a6a09c);
  padding-top: 3.5rem;
  border-radius: 50px;
  border-color: black;
}
.main__form .container__form .form .form__nombre {
  margin-bottom: 1.5rem;
  width: 30rem;
}
.main__form .container__form .form .form__email {
  width: 30rem;
  margin-bottom: 1.5rem;
}
.main__form .container__form .form .form__textarea {
  margin-bottom: 1.5rem;
  width: 30rem;
}
.main__form .container__form .form .form__checkbox {
  margin-bottom: 2.5rem;
}
.main__form .container__form .form .form__btn {
  border-color: black;
}
.main__form .container__form .form .form__btn:hover {
  transition: 1s;
  background-color: #d6c6c6;
}

.main__sobremi {
  padding-top: 8rem;
}
.main__sobremi .container__sobremi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #80cbc4;
  margin: 2rem;
  padding-top: 3rem;
}
.main__sobremi .container__sobremi .textoSobreMi {
  margin: 2rem;
}
.main__sobremi .container__sobremi .imgSobreMi {
  max-width: 500px;
}
.main__sobremi .container__sobremi .mapa {
  margin-bottom: 1rem;
  width: 100%;
}

.footer {
  padding-top: 1rem;
  background-image: linear-gradient(#80cbc4, #1c7272fb);
  margin-top: 3rem;
  padding-bottom: 1.9rem;
}
.footer .footer__container {
  padding: 0 3rem;
  justify-content: space-between;
}
.footer .footer__redes {
  text-decoration: none;
  letter-spacing: 1px;
  align-items: flex-end;
}
.footer h4 {
  font-weight: 100;
}
.footer .row {
  flex-direction: row-reverse;
  align-items: flex-end;
}
.footer .footer__info {
  display: inline;
  font-size: larger;
}

@media (max-width: 574px) {
  /*home*/
  .footer__info {
    font-size: medium;
  }

  .col {
    flex-direction: column;
    align-items: center;
  }

  /*cursos*/
  .imgSobreMi {
    width: 360px;
  }

  /*productos*/
  /*deco textil*/
  .container__decotextil .card--custom {
    height: 40rem;
  }
  .container__decotextil .card--custom .row {
    max-height: 7rem;
    overflow: visible;
  }
  .container__decotextil .card--custom .row .col-5 .card__img {
    max-height: 29.8rem;
  }

  .card--custom2 {
    height: 40rem;
  }
  .card--custom2 .row {
    max-height: 7rem;
    overflow: visible;
  }
  .card--custom2 .row .col-5 .card__img {
    max-height: 29.8rem;
  }

  /*contacto*/
  .main__form .container__form .form .form__nombre {
    width: 23rem;
  }
  .main__form .container__form .form .form__email {
    width: 23rem;
  }
  .main__form .container__form .form .form__textarea {
    width: 23rem;
  }
}

/*# sourceMappingURL=styles.css.map */
