.main__sobremi {
  padding-top: 8rem;
  .container__sobremi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #80cbc4;
    margin: 2rem;
    padding-top: 3rem;
    .textoSobreMi {
      margin: 2rem;
    }
    .imgSobreMi {
      max-width: 500px;
    }
    .mapa {
      margin-bottom: 1rem;
      max-width: 40%;
    }
  }
}
