.footer {
  padding-top: 1rem;
  background-image: linear-gradient(#80cbc4, #1c7272fb);
  margin-top: 3rem;
  padding-bottom: 1.9rem;
  .footer__container {
    padding: 0 3rem;
    justify-content: space-between;
  }
  .footer__redes {
    text-decoration: none;
    letter-spacing: 1px;
    align-items: flex-end;
  }
  h4 {
    font-weight: 100;
  }
  .row {
    flex-direction: row-reverse;
    align-items: flex-end;
  }
  .footer__info {
    display: inline;
    font-size: larger;
  }
}
