.footer {
  padding-top: 1rem;
  background-image: linear-gradient(#80cbc4, #1c7272fb);
  margin-top: 3rem;
  .footer__redes {
    text-decoration: none;
    letter-spacing: 1px;
    align-items: flex-end;
  }
  h4 {
    font-weight: 100;
  }
  .row {
    flex-direction: row-reverse;
    justify-content: right;
    align-items: flex-end;
  }
}
