@media (max-width: 1160px) {
  /*home*/
  /*cursos*/
  /*productos*/
  /*deco textil*/
  /*contacto*/
}
@media (max-width: 574px) {
  /*home*/
  .col {
    flex-direction: column;
    align-items: center;
  }
  /*cursos*/
  /*productos*/
  .productos__cards {
    flex-direction: column;
    align-items: center;
  }
  /*deco textil*/
  .container__decotextil {
    .card--custom {
      height: 40rem;
      .row {
        max-height: 7rem;
        overflow: visible;
        .col-5 {
          .card__img {
            max-height: 29.8rem;
          }
        }
      }
    }
  }
  .card--custom2 {
    height: 40rem;
    .row {
      max-height: 7rem;
      overflow: visible;
      .col-5 {
        .card__img {
          max-height: 29.8rem;
        }
      }
    }
  }
  /*contacto*/
}
